span.card-options-permanence {
    font-size: x-small;
    font-weight: bold;
    
}

.carousel {
    max-width: 600px;
    max-height: 300px;
    margin-bottom: 110px;
    margin-top: 50px;
    margin-left: 20px;
}

.carousel-inner {
    border-radius: 3%;
}

#custom_carousel .item {

    color:#000;
    background-color:#eee;
    padding:20px 0;
}
#custom_carousel .controls{
    overflow-x: auto;
    overflow-y: hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#ddd
}
#custom_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width:90px
}
#custom_carousel .controls li.active {
    background-color:#eee;
    border-top:3px solid orange;
}
#custom_carousel .controls a small {
    overflow:hidden;
    display:block;
    font-size:10px;
    margin-top:5px;
    font-weight:bold
}

.bg-1{
    background-color: rgba(37, 34, 37, 0.658);
    height:300px;
    width: 100%;
    box-shadow: 0 2px 8px rgb(43 54 71 / 30%);
    border-radius: 16px;
}

.bg-transparent{
    height:1120px;
    box-shadow: 0 2px 8px rgb(43 54 71 / 30%);
    border-radius: 16px;
    margin-bottom: 90px;
}

.options {
    margin-left: 580px;
    height:600px;
}

input:checked + label div {
    background: rgba(94, 133, 16, 0.932);
    color:seashell;
    
}

.leaves {
    width: 90px;    
    margin-left: -90px;
    margin-top: -25px;

}
.rl {
    justify-content: space-evenly;
}
.card {
    box-shadow: 0 2px 8px rgb(43 54 71 / 30%);
    border-radius: 16px;
    height: 230px;
}

.card:hover {
    box-shadow: 0 2px 8px rgba(22, 177, 17, 0.3);
}

.img-fluid {
    -webkit-transform: scale(1,1); 
   -webkit-transition-timing-function: ease-out;
   -webkit-transition-duration: 100ms;
   -moz-transition: scale(1,1);
   -moz-transition-timing-function: ease-out;
   -moz-transition-duration: 100ms;
}

.img-fluid:hover {
    -webkit-transform: scale(1.12,1.12); 
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 50ms;
    -moz-transition: scale(1.12,1.12);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 50ms;
}
h2 {
    font-size: 38px;
    color: rgb(94, 133, 16);
}
 
.card-notify-badge {
    color: rgb(94, 133, 16);
    font-size: 22px;
}
.desde {
    margin-top: 7px;
}
.car-booking {
    box-shadow: 0 2px 8px rgb(43 54 71 / 30%);
    border-radius: 16px;
    margin-left: -30px;
    margin-top: -30px;
    max-height: 550px;
}
.btn-prices {
    border-radius: 0.55rem!important;
    box-shadow: 0 2px 8px rgb(43 54 71 / 30%);
}
.carousel-control-next {
    right: -120px;
}
.carousel-control-prev {
    left: -30px;
}