h1.text-center {
    font-size: 55px;
    color: rgb(94, 133, 16);
}

.rounded-pill {
    border-radius: 50rem!important;
    height: 30px;
    color: rgb(94, 133, 16);
}

.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: large;
    font-weight: 700;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 0.25rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.image-bg {
    width: 900px;
}
.title {
    color: rgb(94, 133, 16);
}

.image-bg {
   -webkit-transform: scale(1,1); 
   -webkit-transition-timing-function: ease-out;
   -webkit-transition-duration: 100ms;
   -moz-transition: scale(1,1);
   -moz-transition-timing-function: ease-out;
   -moz-transition-duration: 100ms;
}

.image-bg:hover {
    -webkit-transform: scale(1.12,1.12); 
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 50ms;
    -moz-transition: scale(1.12,1.12);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 50ms;
 }
 
 .row {
    margin-top: 60px;
}

.title-section {
    color: rgb(94, 133, 16); 
}

.icon-draw {
    width: 11rem;
}  

.icon-draw-1 {   
    width: 3rem;   
} 
.icon-draw-2 {  
    width: 9rem;   
} 
.icon-draw-3 {  
    width: 2rem; 
     
} 

.pr {
   
    margin-top: -20px;
    margin-bottom: 39px;
}

.pr1 {
   
    margin-top: -20px;
    margin-left: -20px;
}
.pr2 {
    margin-top: -20px;
    margin-left: -49px;
}
.pr3 {
    margin-left: 196px;
}

h3 {
    color: rgb(94, 133, 16); 
}
.why-container {
    margin-top: 120px;
    margin-bottom: 100px;
}