
.image-bg-faqs {
    transform: rotate(271deg);
    margin-left: -78px;
    background-color: transparent;
    width: 100px;
    margin-top: 16px;
    z-index: -10;
}

.tittle{
    color: rgb(94, 133, 16);
    font-size: 40px;
}

.text {
    margin-bottom: 105px;
    margin-top: 51px;
    margin-left: 120px;
}
.accordion {
    box-shadow: 0 2px 8px rgb(43 54 71 / 30%);
    border-radius: 16px;
}