
.image-bg-faqs {
    transform: rotate(271deg);
    margin-left: -40px;
    background-color: transparent;
    width: 150px;
    margin-top: 3px;
    z-index: -10;
}

.tittle{
    color: rgb(94, 133, 16);
    font-size: 40px;
}

.text {
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 250px;
}