.form-control {
    border: none;
    border-bottom: 1px solid rgb(27, 107, 34);
    border-radius: 0;
}

  
.register-form {
  position: relative;
  background-color:transparent;
}

.register-form .form-bg {
  position: absolute;
  max-width: 200px;
  width: 100%;
  bottom: -150px;
  right: 120px;
  z-index: -1;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}