.form-control {
    border-bottom: 1px solid rgb(94, 133, 16);
    border-radius: 16px;
}

  
.register-form {
  position: relative;
  background-color:transparent;
  margin-top: 80px;
  
}

.register-form .form-bg {
  position: absolute;
  max-width: 200px;
  width: 100%;
  top: 150px;
  right: 100px;
  z-index: -1;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 2px 8px rgb(43 54 71 / 30%);
}
.btn-outline-success {
  color: rgb(94, 133, 16);
  border-color: rgb(94, 133, 16);
  border-radius: 16px;
 
}
.btn-outline-success:hover {
  box-shadow: 0 2px 8px rgb(43 54 71 / 30%);
  
}
.icon-draw-11 {
  width: 80px;
  left: 878px;
  transform: rotate(35deg);
}
.icon-draw-12 {
  width: 80px;
  left: 609px;
  transform: rotate(159deg);
}