.form-control {
    border: none;

  background: 
    repeating-linear-gradient(90deg, 
        rgb(37, 87, 48) 0, 
        dimgrey 1ch, 
        transparent 0, 
        transparent 1.5ch) 
      0 100%/100% 2px no-repeat;
  color: rgb(55, 117, 76);
}


.register-form {
  position: relative;
}

.register-form .form-bg {
  position: absolute;
  max-width: 150px;
  width: 100%;
  bottom: 0;
  right: 300px;
  z-index: -1;
}